.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #D9D9D9;
}
.contact{
    align-self: center;
    display: inline-flex;
    align-items: center;
    gap: 5px;
}
.contact p{
    margin-top: 13px;
}
.whatsapp{
    align-self: center;
    width: Hug (151px)px;
height: Hug (29px)px;
padding: 4px 8px 4px 8px;
gap: 10px;
border-radius: 20px;
opacity: 0px;
color: white;
background-color:  #41A628;
;
}
