.category{
    border-radius: 0px 20px 20px 0px;
background-color: #F9F9F9;
gap: 40px;
justify-content: flex-start;
width: 20%;
}
.exit{
    width: 15px;
    align-self: flex-end;
}
.ul{
    align-self: flex-start;
    padding: 0;
    display: inline-flex;
    flex-direction: column;
    gap: 30px;
    list-style: none;
    margin: 0;
}
.ul li{
    display: inline-flex;
    align-items: center;
    gap: 8px;
    margin: 0;
}
.ul a:hover{
    color: grey;
}
.ul a{
    color: black;
}
.ul :global(.active){
    color: #004584;
}
.dialog{
    width: 312px;
height: 180px;
border-radius: 20px;
background: #FFF;
color: black;
text-align: center;
border: none;
}
.dialog::backdrop{
    background: rgba(0, 0, 0, 0.50);
}
.modalContent{
    margin-top: auto;
    display: inline-flex;
flex-direction: column;
align-items: center;
gap: 16px;
}
.button-group{
    display: flex;
align-items: flex-start;
gap: 24px;
}
.button-group button{
    display: flex;
padding: 8px 27px;
justify-content: center;
align-items: center;
gap: 10px;
}
.button-group button:nth-child(1){
    border-radius: 20px;
background: #70B7F8;
color: white;
}
.button-group button:nth-child(2){
    border-radius: 20px;
border: 1px solid #000;
background: #FFF;
color: #000;
}
@media (max-width: 818px) {
    .category{
        width: 30%;
    }
}
@media (max-width: 818px) {
    .category{
        width: 40%;
    }
}
@media (max-width: 500px) {
    .category{
        width: 100%;
    }
}
