  /* // superpayadmin@gmail.com
  // SuperpayAdmin */
.dashboard{
    box-sizing: border-box;
}
.dashboardSection{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 20px;
}
.menu{
    position: absolute;
    height: 933px;
    margin: 0;
    border-radius: 0px 20px 20px 0px;
background: #70B7F8;
color: white;
padding: 0;
top: 0;
z-index: 3;
width: 20%;
left: 0;
animation-name: menu;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in;
        animation-duration: 0.2s;
}

@media (max-width: 689px) {
    .menu{
        animation-name: menu2;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in;
        animation-duration: 0.2s;
    }
}
@keyframes menu2 {
    from{ width: 0%;}
    to{ width: 50%;}
}
@keyframes menu {
    from{ width: 0%;}
    to{ width: 20%;}
}
