.welcome{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 50px;
    box-sizing: border-box;
    align-items: center;
    width: 100%;
}
.welcomePanel{
    color: #FFF;
font-style: normal;
font-weight: 700;
line-height: normal;
height: 100%;
}
.greatFinance{
    color: #70B7F8;
font-style: normal;
line-height: normal;
}
.entry{
    display: inline-flex;
    align-items: flex-start;
    gap: 60px;
    font-size: x-large;
    margin-bottom: 30px;
}
.entry div{
    display: flex;
padding: 8px 27px;
justify-content: center;
align-items: center;
width: 100%;
border-radius: 20px;
}
.entry a {
    color: white;
    background: #70B7F8;
    border-radius: 20px;
}
.entry a:nth-child(2){
    color: black;
    background-color: white;
}
.entry div:nth-child(2){
    background-color: white;
    color: black;
}
@media (max-width: 830px) {
    .welcome{
        gap: 20px;
        justify-content: space-between;
    }
    .entry{
        font-size: large;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 10px;
    }
    .welcomePanel {
        flex-direction: column;
        margin: 0;
        font-size: xx-large;
        }
        .entry div{
            width: 100px;
        }
}
